.header {
    display: flex;
    justify-content: space-between ;
    margin: 10px;
    border: 1px solid black;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul > li {
    padding: 10px;
}
.logo {
    width: 100px;
}

/* Allproblems.css */

/* Style for the entire "Allproblems" component */
.Allproblems {
    margin: 20px; /* Add margin for spacing */
  }
  
  /* Style for the custom table */
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .custom-table th, .custom-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  /* Style for links in the "ProblemCard" component */
  .link-style {
    text-decoration: none;
    color: #333;
  }
  
  /* Style for difficulty levels */
  .difficulty-easy {
    color: green;
  }
  
  .difficulty-medium {
    color: orange;
  }
  
  .difficulty-hard {
    color: red;
  }
  
  /* App Container */
body {
  font-family: 'Arial', sans-serif;
  display: flex;
}

/* Left Panel Styles */
.left-panel {
  width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
}

.left-panel h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.left-panel div {
  margin-bottom: 15px;
}

.left-panel strong {
  font-weight: bold;
}
/* Add this to your CSS file */

.container {
  display: flex;
  width: 100%;
}

.left-panel {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.right-panel {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
